<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>website</title>
  </head>
  <body class="blog-body">
    
    <ul class="main-menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/blog">Блог</a></li>
        <li><a href="/contacts">Контакты</a></li>
    </ul>
    
    <h1>Блог</h1>
    
    <div class="blog-card">
      <img src="../static/image/blog-photo-1.jpg" alt="photo">
      <div class="blog-content">
        <h5 class="blog-heading">Чёртова дюжина ошибок начинающего программиста</h5>
        <p class="blog-text">У каждого из нас имеется собственный компьютер на углеродной основе — головной мозг. Мощный, продуктивный и чрезвычайно сложный. Но, увы, подверженный сбоям и ошибкам. Баги заметили ещё в античности, а древние римляне запротоколировали их в краткой и ёмкой формуле: «Человеку свойственно ошибаться».</p>
      </div>
    </div>

    <div class="blog-card">
      <img src="../static/image/blog-photo-2.jpg" alt="photo">
      <div class="blog-content">
        <h5 class="blog-heading">Как учить Python: девять кратких практических советов</h5>
        <p class="blog-text">Python уже не один год уверенно занимает место среди самых популярных языков программирования. На нём можно писать любые программы, но сегодня основной сферой для него стал искусственный интеллект и всё, что с ним связано — data science, машинное обучение, анализ данных, нейронные сети. Кроме того, Python популярен в веб-разработке. Среди новейших направлений Python является лидером в квантовых вычислениях и квантовом машинном обучении.</p>
      </div>
    </div>

    <div class="blog-card">
      <img src="../static/image/blog-photo-3.png" alt="photo">
      <div class="blog-content">
        <h5 class="blog-heading">Тренды среди языков программирования в 2019 году</h5>
        <p class="blog-text">Все, кто хочет связать свою жизнь с программированием, задумываются о том, на какой язык замахнуться. Здесь важно не только понимать, как обстоят дела сегодня, но и следить за трендами — ведь к тому времени, как обучение закончится, что-нибудь в картине мира наверняка поменяется.</p>
      </div>
    </div>
    
    <footer class="footer">
      <img src="../static/image/logo.svg" alt="logo">
      <div class="icons">
        <a href="#"><img src="../static/image/vk.svg" alt="vk"></a>
        <a href="#"><img src="../static/image/facebook.svg" alt="facebook"></a>
        <a href="#"><img src="../static/image/instagram.svg" alt="instagram"></a>
      </div>
    </footer>
  </body>
</html>